<div class = "table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-4">Type</th>
        <th class="col-md-6">Designed by</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |hash| %>
        <tr>
          <td><%= hash['Name'] %></td>
          <td><%= hash['Type'] %></td>
          <td><%= hash['Designed by'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>