body{
  overflow-y:scroll;
}

h1, #search_form {
  text-align: center;
}

#search_form {
  margin-bottom: 20px;
}

a {
  font-weight:bold;
  &:hover {
    text-decoration: none;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table th {
  text-align: center;
}